img {
    width: 100%;
    height: 20rem !important;
    object-fit: contain;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 1rem;
}

article.card {
    border: 3px solid var(--colore-principale);
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
}

header {
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.card-hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

article.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-color: var(--colore-principale) !important;
}

