.custom-card-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.text-success {
    color: var(--colore-principale) !important;
}

article.card {
    border: 3px solid var(--colore-principale);
    border-radius: 15px;
}