img {
    width: 100%;
    height: 20rem !important;
    object-fit: contain;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 1rem;
}

header>span {
    color: var(--colore-principale) !important;
}

article.card {
    border: 3px solid var(--colore-principale);
    border-radius: 15px;
    overflow: hidden;
    height: 100%;


}