#singleProductPage header div>div>div {
    transition: transform 0.6s ease-in-out;
    background-color: var(--colore-sfondo);
    height: 60vh
}


#singleProductPage section button {
    transition: transform 0.2s;
    letter-spacing: 2px;
}


#singleProductPage section button:hover {
    transform: scale(1.02);
}


#singleProductPage header img {

    object-fit: contain;
    object-position: center;
}

#singleProductPage section img {

    width: 100px;
    height: 100px;
    object-fit: cover;

}

#singleProductPage section p {

    line-height: 1.6;
}

#singleProductPage header button span {
    color: black;
}


@media screen and (min-width:768px) {
    #singleProductPage .border-end-md {
        border-right: 1px solid #dee2e6;
    }
}